@CHARSET "ISO-8859-1";

.par {
	background-color: #ececec;
}

.impar {
	background-color: #d9d9d9;
}

.t {
	font-family: sans-serif;
	font-size: 20px;
	color:#9999cc;
}

.logo {
	margin-left:10px;
	width: 100px;
	height: 100px;
}

#logotipo {
	background-color: #ccccff;
}

#logotipo > span {
	color: #660066;
	font-size: 80px;
	margin-left: 30px;
}

.f {
	border: 1px solid #660066;
	border-radius: 10px;
	width: 600px;
}

.prod {
	width: 100%;
	text-align: center;
}

.prod th {
	background-color: #9966cc;
}

.rodape {
	background-color: #ccccff;
	text-align: center;
	color: #660066;
	width: 99%;
	height: 20px;
	position: absolute;
	bottom: 0;
}

.f2 {
	border: 1px solid #660066;
	border-radius: 10px;
	width: 300px;
	height: 150px;
	text-align: center;
	padding: 10px;
	margin: 100px;
	font-family: sans-serif;
	font-size: 30px;
}

.b1{
	font-size: 18px !important;
	float: right;
	margin: 5px;
}

.menu {
	background-color: #ccccff;
	margin-bottom: 10px;
}

.menu:HOVER {
	background-color: #ececec;
}